

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
	height: 100%;
  background-repeat: no-repeat;
	background-size: cover;
	background-position: top left,		center center,		bottom center;
	background-attachment: fixed,			fixed,				fixed;
  background-image: url('../images/clouds.png');
}

.form-background{
  border-radius: 10px;
  background-color: rgba(81, 104, 131, .3);
  /*height: 610px;*/
  width:50%;
  margin: 135px auto 0px auto;
}

.avatar img{
  border-radius: 100%;
  margin: 0 auto 20px auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-self: center;
}

.welcome-header{
  width: 80%;
  margin: auto;
}

.header-content{
  width:66%;
  margin: 0 auto 0 auto;
}

hr {
  width: 95%;
  margin: 0 auto 50px auto;
}

h1{
  font-size: 36px;
  margin-bottom: 36px;
  padding: 15px 0 0 0;
  font-weight: 600;
}

li {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  text-align: left;
}

.location-search {
  font-size: 1.25em;
  text-align: left;
  margin-bottom: 15px;
  height: 35px;
  width: 66%;
}

.second-search {
    font-size: 1.25em;
    text-align: left;
    margin-bottom: 15px;
    height: 35px;
    width: 66%;
}

p {
  font-size: 1.25em;
  margin-bottom: 5px;
}

.welcome-message {
  margin:0px auto 450px auto;
  margin-bottom: 50px;
}

.user-inputs {
  display: flex;
  justify-content: center;
}

.add-suggestions {
  overflow-y: scroll;
  background: #fff;
  width: 416px;
  max-height: 150px;
  display: inline-block;
}

.anchor-links {
  border-bottom: 1px solid #ccc;
  padding: 5px;
  height: 100%;
  width: 100%;
  display: inline-block;
}

.sub-btn {
  font-size: 15px;
  height: 35px;
}

.search-form {*/
  background-image: url(../images/duck.jpg);
  background-repeat: cover;
  background-position: center;*/
  height: 100vh;
  text-align: center;
  width: 100%;
}

.current-weather {
  border-radius: 10px;
  background-color: rgba(81, 104, 131, .3);
  width: 500px;
  margin: 35px auto 65px auto;
}

.city,
.day-of-week,
.conditions {
  font-size: 25px;
  margin-bottom: 12px;
}

.conditions {
  font-style: italic;
  font-weight: 600;
  font-size: 30px;
  margin: 0 0 5px 10px;
}

/*.conditions-wrapper {
  display: flex;
  justify-content: center;
}*/

.day-of-week {
  margin: 0 10px 10px 0;
}

.date,
.high,
.low {
  font-size: 25px;
  margin-bottom: 10px;
}

.conditions-wrapper,
.date-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.high-low-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
}

.high {
  margin: 0 10px 10px 0;
}

.low {
  margin: 0 0 10px 10px;
}

.high {

}

.low {

}

.icon {
  height: 35px;
  margin: 0 10px 5px 0;
}

div .ten-day-title,
div .seven-hour-title {
  font-size: 36px;
}

.hourly-card {
  border-radius: 10px;
 background-color: rgba(81, 104, 131, .3);
  margin: 5px auto 20px auto;
  width: 175px;
  padding: 10px;
}

.hourly-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.daily-card {
  border-radius: 10px;
  background-color: rgba(81, 104, 131, .3);
  margin: 5px;
  padding-top: 10px;
  width:250px;
  height: 190px;
}

.daily-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.day-of {
  font-size: 17px;
  margin-bottom: 10px;
}

.daily-icon-status {
  margin-bottom: 7px;
}

.daily-icon,
.daily-high,
.daily-low {
  margin-bottom: 5px;
}

/*.drop {
  background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,.7) ), to(rgba(255,255,255,0.6))  );
  background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(255,255,255,.3) 100%);
  width:1px;
  height:89px;
  position: absolute;
  bottom:200px;
  -webkit-animation: fall .93s linear infinite;
  -moz-animation: fall .93s linear infinite;
  z-index: -1;
}

/* animate the drops*/
/*@-webkit-keyframes fall {
  to {margin-top:900px;}
}
@-moz-keyframes fall {
  to {margin-top:900px;}
}*/
