* {
  box-sizing: border-box;
}

h1 {
  color: rgba(199, 30, 27, 1);
  font-family: 'Carter One', cursive;
  font-size: 50px;
  margin-top: 25px;
  padding-top: 75px;
}

li {
  color: rgba(175, 237, 237, 1);
  font-family: 'Carter One', cursive;
  font-size: 20px;
}

.search-form {
  background-size: cover;
  background-image: url(../assets/duck.jpg);
  background-repeat: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
  width: 100%;
}

.location-search {
  font-size: 24px;
  height: 35px;
  width: 350px;
}

.welcome-message {
  margin:0px auto 450px auto;
}

.user-inputs {
  display: flex;
  justify-content: center;
}

.add-suggestions {
  overflow-y: scroll;
  background: #fff;
  width: 416px;
  max-height: 150px;
  display: inline-block;
}

.anchor-links {
    border-bottom: 1px solid #ccc;
    padding: 5px;
    height: 100%;
    width: 100%;
    display: inline-block;
}

.sub-btn {
  font-size: 15px;
}
